<div class="header-container">
    <div class="introduce-myself">
        <div class="introtext">
            <h1>Hi there! I am Ihor</h1>
            <span>FRONTEND DEVELOPER</span>
        </div>
        <div class="scroll-section">
            <p>Scroll</p>
            <img src="assets/img/Vector 10.png">
        </div>
    </div>
    <div class="my-picture-section">
        <img class="header-ellipse" src="assets/img/Ellipse 9.png">
        <img class="my-pic" src="assets/img/mypic-cut.png">
        <img class="logo" src="assets/img/logo.png">
        <img class="ellipse-down" src="assets/img/Ellipse 9.png">
    </div>

    <div class="media">
        <a href="https://www.linkedin.com/in/ihor-tsarkov-790a01294/" target="_blank"><img
                src="assets/img/Linkedin button s2.png"></a>
        <a href="https://github.com/ihortsar?tab=repositories" target="_blank"> <img
                src="assets/img/Github button s2.png"></a>
    </div>
 
</div>