div {
    width: 33%;
    display: flex;
    justify-content: center;

}

.spans {


    flex-direction: column;
    align-items: center;

    span {
        color: var(--White, #FFF);
        font-family: 'Montserrat', sans-serif;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    p {
        color: var(--White, #FFF);
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        cursor: pointer;
    }

}

.social {

    a {
        margin-left: 10%;

        &:hover {
            cursor: pointer;
            transform: scale(1.3);
        }
    }
}

@media(max-width:1000px) {
    .spans {
        width: 100%
    }

    span {
        font-size: 18px;
        text-align: center;
    }

    p {
        font-size: 12px;
    }

    a {
        margin: 10% !important;

    }
}

@media(max-width: 450px) {
    h1 {
        font-size: 56px;
    }
}