h1 {
    color: var(--White, #FFF);
    font-family: 'Baloo 2', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.96px;
    width: 100%;
    text-align: center;
}

.frames {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        width: 90%;
        display: flex;
        justify-content: space-evenly;
    }

    img {
        margin: 20px;
        height: 110px;

    }
}

@media(max-width:800px) {
    img {
        margin: 20px;
        height: 60px;

    }
}

@media(max-width:550px) {
    img {
        margin: 13px !important;
        height: 50px !important;

    }


}

@media(max-width:1000px) {

    h1 {
        font-size: 80px;
    }

    .frames {
        margin-bottom: 53px;
        justify-content: space-evenly;
    }
}

@media(max-width: 450px) {
    h1 {
        font-size: 56px;
    }
}

