<div class="introDiv">
    <h1>Let's work together</h1>
</div>
<div class="introDiv">
    <img src="assets/img/Ellipse 9.png">
    <span>
        I'm a versatile Front-End Developer with a harmonious twist—I'm also an experienced Opera
        Singer!
        With a focus on clean code, I bring ideas to life and blend technical expertise with
        artistic finesse.
        Let's create something extraordinary that resonates both visually and musically!

    </span>
    <a href="#contact"><button>Send a message</button></a>
</div>