h1 {
    color: var(--style-2-green, #57E8A2);
    font-family: 'Baloo 2', sans-serif;
    font-size: 121px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    /* 121px */
    letter-spacing: 1.21px;
}

.introDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        height: 80px;
        margin-bottom: 30px;
        margin-left: 15%;
    }

    button {
        margin-top: 30px;
        padding: 15px 30px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        border: 2px solid var(--style-2-green, #57E8A2);
        box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
        background-color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        color: var(--style-2-green, #57E8A2);
        height: auto;
        width: fit-content;

        &:hover {
            cursor: pointer;
            color: white;
            animation: button 0.2s ease-in-out;
            animation-fill-mode: forwards;
        }
    }

    @keyframes button {
        0% {
            background: linear-gradient(124deg, rgba(87, 232, 162, 1) 0%, rgba(87, 232, 162, 1) 13%, rgba(87, 232, 162, 1) 17%, rgba(255, 255, 255, 1) 24%);
        }

        40% {
            background: linear-gradient(124deg, rgba(87, 232, 162, 1) 0%, rgba(87, 232, 162, 1) 17%, rgba(87, 232, 162, 1) 27%, rgba(255, 255, 255, 1) 51%);
        }

        70% {
            background: linear-gradient(124deg, rgba(87, 232, 162, 1) 0%, rgba(87, 232, 162, 1) 19%, rgba(87, 232, 162, 1) 49%, rgba(255, 255, 255, 1) 70%);
            ;
        }

        100% {
            transform: scale(1.1);
            background: linear-gradient(124deg, rgba(87, 232, 162, 1) 50%, rgba(39, 122, 82, 1) 100%, rgba(255, 255, 255, 1) 100%, rgba(87, 232, 162, 1) 100%);
        }
    }
}

span {
    color: var(--Black, #000);
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

@media(max-width:1200px) {
    .introDiv {
        width: fit-content;
        text-align: center;

        img {
            margin-left: 0 !important;
        }
    }
}

h1 {
    font-size: 80px;
}

button {
    margin-bottom: 30px
}

@media(max-width: 450px) {
    h1 {
        font-size: 56px;
    }
}