.dialog {

    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #D7FFEC 91.39%);
    z-index: 9999;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 290px;
    left: 138px;
    gap: 29px;

    a {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        font-weight: 800;
        line-height: 80px;
        letter-spacing: 0em;
        text-align: left;
        color: #57E8A2;
        cursor: pointer;


    }
}

.closeButton {
    position: absolute;
    right: 7.5%;
    top: 2%;
    cursor: pointer;
    height:50px
}

@media(max-width: 1100px) {}